<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>webflow</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-POYwD7xcktv3gUeZO5s/9nUbRJG/WOmV6jfEGikMJu77LGYO8Rfs2X7URG822aum"
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="css/reboot.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <nav class="site-menu">
    <ul class="menu-icon-view">
      <li><i class="fal fa-bars"></i></li>
      <li>
        <h1 class="site-title">web flow</h1>
      </li>
      <li class="site-settings"><i class="fal fa-ellipsis-v"></i></li>
    </ul>
  </nav>
  <header></header>
  <main>
    <section class="add-items">
      <header>
        <h2>add the items here</h2>
      </header>
      <div class="content"></div>
    </section>
  </main>
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="module" src="js/main.js"></script>
</body>

</html>